@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }

  body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
  }

  /*--------NAVIGATION--------*/

  img {
      display: block;
      width: 300px;
      margin-left: 1em;
  }

  header {
      height: 80px;
      background-color: #eeeeee;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
  } 

  nav ul li {
      font-size: 1.1rem;
      display: inline-block;
      padding: 0 20px;
      margin-right: 1.5em;
  }

    /*--------SECTION 1--------*/

  section {

  }

  #title {
      text-align: center;
      font-size: 1.5rem;
  }

  .email {
      font-size: 0.8rem;
      display: block;
      background-color: white;
      margin: 0 auto;
      text-align: left;
      width: 280px;
      padding: 0.4em;
      border-radius: 0.2em;
      margin-top: 1em;
      border: solid black 1px;
      margin-bottom: 1em;
  }

  .firstButton {
      display: block;
      background-color: gold;
      margin: 0 auto;
      width: 150px;
      border-radius: 4px;
      padding: 0.4em;
  }

/*--------SECTION2--------*/

    .section2 {
        background-color: blue;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
    }
  