@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }

  body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
  }

  /*--------NAVIGATION--------*/

  img {
      display: block;
      width: 300px;
      margin-left: 1em;
  }

  header {
      height: 80px;
      background-color: #eeeeee;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
      position: fixed;
      width: 100%;
  } 

  nav ul li {
      font-size: 1.1rem;
      display: inline-block;
      padding: 0 20px;
      margin-right: 1.5em;
  }

  .Space {
      height: 80px;
  }
    /*--------SECTION 1--------*/

  #title {
      
      text-align: center;
      font-size: 1.5rem;
  }

  .email {
      font-size: 0.8rem;
      display: block;
      background-color: white;
      margin: 0 auto;
      text-align: left;
      width: 280px;
      padding: 0.4em;
      border-radius: 0.2em;
      margin-top: 1em;
      border: solid black 1px;
      margin-bottom: 1em;
  }

  .firstButton {
      display: block;
      background-color: gold;
      margin: 0 auto;
      width: 150px;
      border-radius: 4px;
      padding: 0.4em;
  }

  /*--------LAYOUT-OF-SECTION2--------*/
  .container1{
      margin-bottom: 4em;
  }

  .container2 {
      margin-bottom: 4em;
  }
/*--------SECTION2--------*/

    .section2 {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        margin-top: 6em;
    }

    .icon-container {
        display: flex;
    }

    .icon {
        display: flex;
        font-size: 3.5rem;
        color: darkorange;
        width: 20vw;
        justify-content: center;
        align-items: center;
    }
  
    .text {
        display: flex;
        width: 80vw;
        flex-direction: column;
    }

    h2 {
        font-size: 1.5rem;
    }

    /*--------SECTION3--------*/

    .section3 {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
    }

    .video {
        text-align: center;
        margin-top: 4em;
        margin-bottom: 3em;
    }

    iframe {
        height: 300px;
        width: 600px;
        
    }

    /*--------SECTION3 - PRICING--------*/

    .trombones {
        display: flex;
        justify-content: space-around;
        margin-bottom: 3em;
    }

    .TenorTrombone, .BassTrombone, .ValveTrombone {
        border: solid black 1px;
        width: 31%;
    }

    ol {
        text-align: center;
        line-height: 1.8;
    }

    @media (max-width: 800px) {
        .trombones {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .TenorTrombone, .BassTrombone, .ValveTrombone {
            width: 300px;
            margin-bottom: 1em;
        }
        ol {
            line-height: 1.9;
        }
    }

    .ValveTrombone {
        margin-bottom: 0em;
    }

    .heading {
        background-color: gainsboro;
        text-align: center;
        font-size: 1.2rem;
        padding: 0.7em;
    }

    .money {
        text-align: center;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    .secondbutton {
        background-color: gold;
        display: block;
        margin: 0 auto;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        font-size: 1rem;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
    }

/*-----------FOOTER------------*/

    footer {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        height: 80px;
        background-color: gainsboro;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .top {
        display: flex;
        width: 24%;
        justify-content: space-around;
    }

    .gray{
        color: gray;
        font-size: 0.9rem;
    }


    