* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }

  img {
      width: 300px;
      margin-left: 1em;
  }

  header {
      height: 80px;
      background-color: #eeeeee;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  nav ul li {
      display: inline-block;
      padding: 0 20px;
  }